<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="public/css/home.css">
</head>
<body>
<header>
    <nav>
        <div class ="topbarContainer">
            <div class ="topbarLeft">
                <span class="logo">Tomioka</span>
            </div>
            <div class="topbarCenter">
                <div class="searchbar">
                    <img class="search" src = 'public/img/search-interface-symbol.png'>
                    <input placeholder="Search for friends" class="searchInput"/>
                </div>
            </div>
            <div class="topbarRight">
                <div class="topbarLinks">
                    <span class="topbarLink">Homepage</span>
                    <span class="topbarLink">Timeline</span>
                </div>
                <div class="topbarIcons">
                    <div class="topbarIconItem">
                        <img class ="topbarImgMain" src = 'public/img/user.png'>
                        <span class="topbarIconBadge">1</span>
                    </div>
                    <div class="topbarIconItem">
                        <img class ="topbarImgMain" src = 'public/img/chat.png'>
                        <span class="topbarIconBadge">1</span>
                    </div>
                    <div class="topbarIconItem">
                        <img class ="topbarImgMain" src = 'public/img/bell.png'>
                        <span class="topbarIconBadge">1</span>
                    </div>
                </div>
                <img src="public/img/user.png" alt="" class="topbarImg"/>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="homeContainer">
        <div class="sidebar">
            <div class="sidebarWrapper">
                <ul class="sidebarList">
                    <li class="sidebarItem">
                        <img src = "public/img/account.png" class="sidebarIcon"/>
                        <a href = "myProfile"><span class="sidebarItemText">My Profile</span></a>
                    </li>
                    <li class="sidebarItem">
                        <img src = "public/img/worldwide.png" class="sidebarIcon"/>
                        <a href = "/"><span class="sidebarItemText">News</span></a>
                    </li>
                    <li class="sidebarItem">
                        <img src = "public/img/chat.png" class="sidebarIcon"/>
                        <a href = "chat"><span class="sidebarItemText">Chat</span></a>
                    </li>
                    <li class="sidebarItem">
                        <img src = "public/img/friends.png" class="sidebarIcon"/>
                        <span class="sidebarItemText">Friends</span>
                    </li>
                </ul>
                <button class="sidebarButton">Show More</button>
                <hr class="sidebarHr"/>
                <ul class="sidebarForFriends">
                    <li class="sidebarFriend">
                        <img src = "public/img/tomioka.jpg" alt="" class="sidebarFriendImg"/>
                        <span class="sidebarFriendName">Tomioka Giyuu</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mainPart">
            It's future chat page
            <div class="tempChat"></div>
            <div class="tempChat"></div>
            <div class="tempChat"></div>
            <div class="tempChat"></div>
        </div>
    </div>
</section>
</body>
</html>